# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

resultadosNegaScout.txt
resultadosNegaScout2.txt
resultadosNegaScout3.txt
resultadosScout.txt
resultadosNegamax.txt
